.jumbotron {
  padding-top: 6rem;
  background-color: #161616;
  background-image: url(img/bg/bg2.png);
  background-position: center top;
}

#about {
  background-color: #242424;
}

#skill {
  background-color: #161616;
}

#projects {
  background-color: #242424;
}

#contact {
  background-color: #161616;
}

section {
  padding-top: 5rem;
}
