.jumbotron {
  padding-top: 6rem;
  background-color: #161616;
}

#about {
  background-color: #242424;
}

#skill {
  background-color: #161616;
}

#contact {
  background-color: #161616;
}

section {
  padding-top: 5rem;
}
